# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
*.tfplan

# Secrets
k8s/02-secrets.yaml

# OS
.DS_Store
Thumbs.db
